.vietmapgl-map {
    font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
    overflow: hidden;
    position: relative;
    -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

.vietmapgl-canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.vietmapgl-map:fullscreen {
    width: 100%;
    height: 100%;
}

.vietmapgl-ctrl-group button.vietmapgl-ctrl-compass {
    touch-action: none;
}

.vietmapgl-canvas-container.vietmapgl-interactive,
.vietmapgl-ctrl-group button.vietmapgl-ctrl-compass {
    cursor: grab;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.vietmapgl-canvas-container.vietmapgl-interactive.vietmapgl-track-pointer {
    cursor: pointer;
}

.vietmapgl-canvas-container.vietmapgl-interactive:active,
.vietmapgl-ctrl-group button.vietmapgl-ctrl-compass:active {
    cursor: grabbing;
}

.vietmapgl-canvas-container.vietmapgl-touch-zoom-rotate,
.vietmapgl-canvas-container.vietmapgl-touch-zoom-rotate .vietmapgl-canvas {
    touch-action: pan-x pan-y;
}

.vietmapgl-canvas-container.vietmapgl-touch-drag-pan,
.vietmapgl-canvas-container.vietmapgl-touch-drag-pan .vietmapgl-canvas {
    touch-action: pinch-zoom;
}

.vietmapgl-canvas-container.vietmapgl-touch-zoom-rotate.vietmapgl-touch-drag-pan,
.vietmapgl-canvas-container.vietmapgl-touch-zoom-rotate.vietmapgl-touch-drag-pan .vietmapgl-canvas {
    touch-action: none;
}

.vietmapgl-canvas-container.vietmapgl-touch-drag-pan.vietmapgl-cooperative-gestures,
.vietmapgl-canvas-container.vietmapgl-touch-drag-pan.vietmapgl-cooperative-gestures .vietmapgl-canvas {
    touch-action: pan-x pan-y;
}

.vietmapgl-ctrl-top-left,
.vietmapgl-ctrl-top-right,
.vietmapgl-ctrl-bottom-left,
.vietmapgl-ctrl-bottom-right { position: absolute; pointer-events: none; z-index: 2; }

.vietmapgl-ctrl-top-left { top: 0; left: 0; }

.vietmapgl-ctrl-top-right { top: 0; right: 0; }

.vietmapgl-ctrl-bottom-left { bottom: 0; left: 0; }

.vietmapgl-ctrl-bottom-right { right: 0; bottom: 0; }

.vietmapgl-ctrl {
    clear: both;
    pointer-events: auto;

    /* workaround for a Safari bug https://github.com/mapbox/mapbox-gl-js/issues/8185 */
    transform: translate(0, 0);
}

.vietmapgl-ctrl-top-left .vietmapgl-ctrl { margin: 10px 0 0 10px; float: left; }

.vietmapgl-ctrl-top-right .vietmapgl-ctrl { margin: 10px 10px 0 0; float: right; }

.vietmapgl-ctrl-bottom-left .vietmapgl-ctrl { margin: 0 0 10px 10px; float: left; }

.vietmapgl-ctrl-bottom-right .vietmapgl-ctrl { margin: 0 10px 10px 0; float: right; }

.vietmapgl-ctrl-group {
    border-radius: 4px;
    background: #fff;
}

.vietmapgl-ctrl-group:not(:empty) {
    box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
}

@media (-ms-high-contrast: active) {
    .vietmapgl-ctrl-group:not(:empty) {
        box-shadow: 0 0 0 2px ButtonText;
    }
}

.vietmapgl-ctrl-group button {
    width: 29px;
    height: 29px;
    display: block;
    padding: 0;
    outline: none;
    border: 0;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
}

.vietmapgl-ctrl-group button + button {
    border-top: 1px solid #ddd;
}

.vietmapgl-ctrl button .vietmapgl-ctrl-icon {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (-ms-high-contrast: active) {
    .vietmapgl-ctrl-icon {
        background-color: transparent;
    }

    .vietmapgl-ctrl-group button + button {
        border-top: 1px solid ButtonText;
    }
}

/* https://bugzilla.mozilla.org/show_bug.cgi?id=140562 */
.vietmapgl-ctrl button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.vietmapgl-ctrl-attrib-button:focus,
.vietmapgl-ctrl-group button:focus {
    box-shadow: 0 0 2px 2px rgb(0 150 255 / 100%);
}

.vietmapgl-ctrl button:disabled {
    cursor: not-allowed;
}

.vietmapgl-ctrl button:disabled .vietmapgl-ctrl-icon {
    opacity: 0.25;
}

.vietmapgl-ctrl button:not(:disabled):hover {
    background-color: rgb(0 0 0 / 5%);
}

.vietmapgl-ctrl-group button:focus:focus-visible {
    box-shadow: 0 0 2px 2px rgb(0 150 255 / 100%);
}

.vietmapgl-ctrl-group button:focus:not(:focus-visible) {
    box-shadow: none;
}

.vietmapgl-ctrl-group button:focus:first-child {
    border-radius: 4px 4px 0 0;
}

.vietmapgl-ctrl-group button:focus:last-child {
    border-radius: 0 0 4px 4px;
}

.vietmapgl-ctrl-group button:focus:only-child {
    border-radius: inherit;
}

.vietmapgl-ctrl button.vietmapgl-ctrl-zoom-out .vietmapgl-ctrl-icon {
    background-image: svg-load("svg/vietmapgl-ctrl-zoom-out.svg", fill: #333);
}

.vietmapgl-ctrl button.vietmapgl-ctrl-zoom-in .vietmapgl-ctrl-icon {
    background-image: svg-load("svg/vietmapgl-ctrl-zoom-in.svg", fill: #333);
}

@media (-ms-high-contrast: active) {
    .vietmapgl-ctrl button.vietmapgl-ctrl-zoom-out .vietmapgl-ctrl-icon {
        background-image: svg-load("svg/vietmapgl-ctrl-zoom-out.svg", fill: #fff);
    }

    .vietmapgl-ctrl button.vietmapgl-ctrl-zoom-in .vietmapgl-ctrl-icon {
        background-image: svg-load("svg/vietmapgl-ctrl-zoom-in.svg", fill: #fff);
    }
}

@media (-ms-high-contrast: black-on-white) {
    .vietmapgl-ctrl button.vietmapgl-ctrl-zoom-out .vietmapgl-ctrl-icon {
        background-image: svg-load("svg/vietmapgl-ctrl-zoom-out.svg", fill: #000);
    }

    .vietmapgl-ctrl button.vietmapgl-ctrl-zoom-in .vietmapgl-ctrl-icon {
        background-image: svg-load("svg/vietmapgl-ctrl-zoom-in.svg", fill: #000);
    }
}

.vietmapgl-ctrl button.vietmapgl-ctrl-fullscreen .vietmapgl-ctrl-icon {
    background-image: svg-load("svg/vietmapgl-ctrl-fullscreen.svg", fill: #333);
}

.vietmapgl-ctrl button.vietmapgl-ctrl-shrink .vietmapgl-ctrl-icon {
    background-image: svg-load("svg/vietmapgl-ctrl-shrink.svg");
}

@media (-ms-high-contrast: active) {
    .vietmapgl-ctrl button.vietmapgl-ctrl-fullscreen .vietmapgl-ctrl-icon {
        background-image: svg-load("svg/vietmapgl-ctrl-fullscreen.svg", fill: #fff);
    }

    .vietmapgl-ctrl button.vietmapgl-ctrl-shrink .vietmapgl-ctrl-icon {
        background-image: svg-load("svg/vietmapgl-ctrl-shrink.svg", fill: #fff);
    }
}

@media (-ms-high-contrast: black-on-white) {
    .vietmapgl-ctrl button.vietmapgl-ctrl-fullscreen .vietmapgl-ctrl-icon {
        background-image: svg-load("svg/vietmapgl-ctrl-fullscreen.svg", fill: #000);
    }

    .vietmapgl-ctrl button.vietmapgl-ctrl-shrink .vietmapgl-ctrl-icon {
        background-image: svg-load("svg/vietmapgl-ctrl-shrink.svg", fill: #000);
    }
}

.vietmapgl-ctrl button.vietmapgl-ctrl-compass .vietmapgl-ctrl-icon {
    background-image: svg-load("svg/vietmapgl-ctrl-compass.svg", fill: #333);
}

@media (-ms-high-contrast: active) {
    .vietmapgl-ctrl button.vietmapgl-ctrl-compass .vietmapgl-ctrl-icon {
        @svg-load ctrl-compass-white url("svg/vietmapgl-ctrl-compass.svg") {
            fill: #fff;
            #south { fill: #999; }
        }

        background-image: svg-inline(ctrl-compass-white);
    }
}

@media (-ms-high-contrast: black-on-white) {
    .vietmapgl-ctrl button.vietmapgl-ctrl-compass .vietmapgl-ctrl-icon {
        background-image: svg-load("svg/vietmapgl-ctrl-compass.svg", fill: #000);
    }
}

@svg-load ctrl-terrain url("svg/vietmapgl-ctrl-terrain.svg") {
    fill: #333;
    #stroke { display: none; }
}

@svg-load ctrl-terrain-enabled url("svg/vietmapgl-ctrl-terrain.svg") {
    fill: #33b5e5;
    #stroke { display: none; }
}

.vietmapgl-ctrl button.vietmapgl-ctrl-terrain .vietmapgl-ctrl-icon {
    background-image: svg-inline(ctrl-terrain);
}

.vietmapgl-ctrl button.vietmapgl-ctrl-terrain-enabled .vietmapgl-ctrl-icon {
    background-image: svg-inline(ctrl-terrain-enabled);
}

@svg-load ctrl-geolocate url("svg/vietmapgl-ctrl-geolocate.svg") {
    fill: #333;
    #stroke { display: none; }
}

@svg-load ctrl-geolocate-white url("svg/vietmapgl-ctrl-geolocate.svg") {
    fill: #fff;
    #stroke { display: none; }
}

@svg-load ctrl-geolocate-black url("svg/vietmapgl-ctrl-geolocate.svg") {
    fill: #000;
    #stroke { display: none; }
}

@svg-load ctrl-geolocate-disabled url("svg/vietmapgl-ctrl-geolocate.svg") {
    fill: #aaa;
    #stroke { fill: #f00; }
}

@svg-load ctrl-geolocate-disabled-white url("svg/vietmapgl-ctrl-geolocate.svg") {
    fill: #999;
    #stroke { fill: #f00; }
}

@svg-load ctrl-geolocate-disabled-black url("svg/vietmapgl-ctrl-geolocate.svg") {
    fill: #666;
    #stroke { fill: #f00; }
}

@svg-load ctrl-geolocate-active url("svg/vietmapgl-ctrl-geolocate.svg") {
    fill: #33b5e5;
    #stroke { display: none; }
}

@svg-load ctrl-geolocate-active-error url("svg/vietmapgl-ctrl-geolocate.svg") {
    fill: #e58978;
    #stroke { display: none; }
}

@svg-load ctrl-geolocate-background url("svg/vietmapgl-ctrl-geolocate.svg") {
    fill: #33b5e5;
    #stroke { display: none; }
    #dot { display: none; }
}

@svg-load ctrl-geolocate-background-error url("svg/vietmapgl-ctrl-geolocate.svg") {
    fill: #e54e33;
    #stroke { display: none; }
    #dot { display: none; }
}

.vietmapgl-ctrl button.vietmapgl-ctrl-geolocate .vietmapgl-ctrl-icon {
    background-image: svg-inline(ctrl-geolocate);
}

.vietmapgl-ctrl button.vietmapgl-ctrl-geolocate:disabled .vietmapgl-ctrl-icon {
    background-image: svg-inline(ctrl-geolocate-disabled);
}

.vietmapgl-ctrl button.vietmapgl-ctrl-geolocate.vietmapgl-ctrl-geolocate-active .vietmapgl-ctrl-icon {
    background-image: svg-inline(ctrl-geolocate-active);
}

.vietmapgl-ctrl button.vietmapgl-ctrl-geolocate.vietmapgl-ctrl-geolocate-active-error .vietmapgl-ctrl-icon {
    background-image: svg-inline(ctrl-geolocate-active-error);
}

.vietmapgl-ctrl button.vietmapgl-ctrl-geolocate.vietmapgl-ctrl-geolocate-background .vietmapgl-ctrl-icon {
    background-image: svg-inline(ctrl-geolocate-background);
}

.vietmapgl-ctrl button.vietmapgl-ctrl-geolocate.vietmapgl-ctrl-geolocate-background-error .vietmapgl-ctrl-icon {
    background-image: svg-inline(ctrl-geolocate-background-error);
}

.vietmapgl-ctrl button.vietmapgl-ctrl-geolocate.vietmapgl-ctrl-geolocate-waiting .vietmapgl-ctrl-icon {
    animation: vietmapgl-spin 2s infinite linear;
}

@media (-ms-high-contrast: active) {
    .vietmapgl-ctrl button.vietmapgl-ctrl-geolocate .vietmapgl-ctrl-icon {
        background-image: svg-inline(ctrl-geolocate-white);
    }

    .vietmapgl-ctrl button.vietmapgl-ctrl-geolocate:disabled .vietmapgl-ctrl-icon {
        background-image: svg-inline(ctrl-geolocate-disabled-white);
    }

    .vietmapgl-ctrl button.vietmapgl-ctrl-geolocate.vietmapgl-ctrl-geolocate-active .vietmapgl-ctrl-icon {
        background-image: svg-inline(ctrl-geolocate-active);
    }

    .vietmapgl-ctrl button.vietmapgl-ctrl-geolocate.vietmapgl-ctrl-geolocate-active-error .vietmapgl-ctrl-icon {
        background-image: svg-inline(ctrl-geolocate-active-error);
    }

    .vietmapgl-ctrl button.vietmapgl-ctrl-geolocate.vietmapgl-ctrl-geolocate-background .vietmapgl-ctrl-icon {
        background-image: svg-inline(ctrl-geolocate-background);
    }

    .vietmapgl-ctrl button.vietmapgl-ctrl-geolocate.vietmapgl-ctrl-geolocate-background-error .vietmapgl-ctrl-icon {
        background-image: svg-inline(ctrl-geolocate-background-error);
    }
}

@media (-ms-high-contrast: black-on-white) {
    .vietmapgl-ctrl button.vietmapgl-ctrl-geolocate .vietmapgl-ctrl-icon {
        background-image: svg-inline(ctrl-geolocate-black);
    }

    .vietmapgl-ctrl button.vietmapgl-ctrl-geolocate:disabled .vietmapgl-ctrl-icon {
        background-image: svg-inline(ctrl-geolocate-disabled-black);
    }
}

@keyframes vietmapgl-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

a.vietmapgl-ctrl-logo {
    width: 88px;
    height: 23px;
    margin: 0 0 -4px -4px;
    display: block;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    background-image: svg-load("svg/vietmapgl-ctrl-logo.svg");
}

a.vietmapgl-ctrl-logo.vietmapgl-compact {
    width: 14px;
}

@media (-ms-high-contrast: active) {
    a.vietmapgl-ctrl-logo {
        @svg-load ctrl-logo-white url("svg/vietmapgl-ctrl-logo.svg") {
            #outline { opacity: 1; }
            #fill { opacity: 1; }
        }

        background-color: transparent;
        background-image: svg-inline(ctrl-logo-white);
    }
}

@media (-ms-high-contrast: black-on-white) {
    a.vietmapgl-ctrl-logo {
        @svg-load ctrl-logo-black url("svg/vietmapgl-ctrl-logo.svg") {
            #outline { opacity: 1; fill: #fff; stroke: #fff; }
            #fill { opacity: 1; fill: #000; }
        }

        background-image: svg-inline(ctrl-logo-black);
    }
}

.vietmapgl-ctrl.vietmapgl-ctrl-attrib {
    padding: 0 5px;
    background-color: rgb(255 255 255 / 50%);
    margin: 0;
}

@media screen {
    .vietmapgl-ctrl-attrib.vietmapgl-compact {
        min-height: 20px;
        padding: 2px 24px 2px 0;
        margin: 10px;
        position: relative;
        background-color: #fff;
        color: #000;
        border-radius: 12px;
        box-sizing: content-box;
    }

    .vietmapgl-ctrl-attrib.vietmapgl-compact-show {
        padding: 2px 28px 2px 8px;
        visibility: visible;
    }

    .vietmapgl-ctrl-top-left > .vietmapgl-ctrl-attrib.vietmapgl-compact-show,
    .vietmapgl-ctrl-bottom-left > .vietmapgl-ctrl-attrib.vietmapgl-compact-show {
        padding: 2px 8px 2px 28px;
        border-radius: 12px;
    }

    .vietmapgl-ctrl-attrib.vietmapgl-compact .vietmapgl-ctrl-attrib-inner {
        display: none;
    }

    .vietmapgl-ctrl-attrib-button {
        display: none;
        cursor: pointer;
        position: absolute;
        background-image: svg-load("svg/vietmapgl-ctrl-attrib.svg");
        background-color: rgb(255 255 255 / 50%);
        width: 24px;
        height: 24px;
        box-sizing: border-box;
        border-radius: 12px;
        outline: none;
        top: 0;
        right: 0;
        border: 0;
    }

    .vietmapgl-ctrl-attrib summary.vietmapgl-ctrl-attrib-button {
        appearance: none;
        list-style: none;
    }

    .vietmapgl-ctrl-attrib summary.vietmapgl-ctrl-attrib-button::-webkit-details-marker {
        display: none;
    }

    .vietmapgl-ctrl-top-left .vietmapgl-ctrl-attrib-button,
    .vietmapgl-ctrl-bottom-left .vietmapgl-ctrl-attrib-button {
        left: 0;
    }

    .vietmapgl-ctrl-attrib.vietmapgl-compact .vietmapgl-ctrl-attrib-button,
    .vietmapgl-ctrl-attrib.vietmapgl-compact-show .vietmapgl-ctrl-attrib-inner {
        display: block;
    }

    .vietmapgl-ctrl-attrib.vietmapgl-compact-show .vietmapgl-ctrl-attrib-button {
        background-color: rgb(0 0 0 / 5%);
    }

    .vietmapgl-ctrl-bottom-right > .vietmapgl-ctrl-attrib.vietmapgl-compact::after {
        bottom: 0;
        right: 0;
    }

    .vietmapgl-ctrl-top-right > .vietmapgl-ctrl-attrib.vietmapgl-compact::after {
        top: 0;
        right: 0;
    }

    .vietmapgl-ctrl-top-left > .vietmapgl-ctrl-attrib.vietmapgl-compact::after {
        top: 0;
        left: 0;
    }

    .vietmapgl-ctrl-bottom-left > .vietmapgl-ctrl-attrib.vietmapgl-compact::after {
        bottom: 0;
        left: 0;
    }
}

@media screen and (-ms-high-contrast: active) {
    .vietmapgl-ctrl-attrib.vietmapgl-compact::after {
        background-image: svg-load("svg/vietmapgl-ctrl-attrib.svg", fill=#fff);
    }
}

@media screen and (-ms-high-contrast: black-on-white) {
    .vietmapgl-ctrl-attrib.vietmapgl-compact::after {
        background-image: svg-load("svg/vietmapgl-ctrl-attrib.svg");
    }
}

.vietmapgl-ctrl-attrib a {
    color: rgb(0 0 0 / 75%);
    text-decoration: none;
}

.vietmapgl-ctrl-attrib a:hover {
    color: inherit;
    text-decoration: underline;
}

.vietmapgl-attrib-empty {
    display: none;
}

.vietmapgl-ctrl-scale {
    background-color: rgb(255 255 255 / 75%);
    font-size: 10px;
    border-width: medium 2px 2px;
    border-style: none solid solid;
    border-color: #333;
    padding: 0 5px;
    color: #333;
    box-sizing: border-box;
}

.vietmapgl-popup {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    will-change: transform;
    pointer-events: none;
}

.vietmapgl-popup-anchor-top,
.vietmapgl-popup-anchor-top-left,
.vietmapgl-popup-anchor-top-right {
    flex-direction: column;
}

.vietmapgl-popup-anchor-bottom,
.vietmapgl-popup-anchor-bottom-left,
.vietmapgl-popup-anchor-bottom-right {
    flex-direction: column-reverse;
}

.vietmapgl-popup-anchor-left {
    flex-direction: row;
}

.vietmapgl-popup-anchor-right {
    flex-direction: row-reverse;
}

.vietmapgl-popup-tip {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    z-index: 1;
}

.vietmapgl-popup-anchor-top .vietmapgl-popup-tip {
    align-self: center;
    border-top: none;
    border-bottom-color: #fff;
}

.vietmapgl-popup-anchor-top-left .vietmapgl-popup-tip {
    align-self: flex-start;
    border-top: none;
    border-left: none;
    border-bottom-color: #fff;
}

.vietmapgl-popup-anchor-top-right .vietmapgl-popup-tip {
    align-self: flex-end;
    border-top: none;
    border-right: none;
    border-bottom-color: #fff;
}

.vietmapgl-popup-anchor-bottom .vietmapgl-popup-tip {
    align-self: center;
    border-bottom: none;
    border-top-color: #fff;
}

.vietmapgl-popup-anchor-bottom-left .vietmapgl-popup-tip {
    align-self: flex-start;
    border-bottom: none;
    border-left: none;
    border-top-color: #fff;
}

.vietmapgl-popup-anchor-bottom-right .vietmapgl-popup-tip {
    align-self: flex-end;
    border-bottom: none;
    border-right: none;
    border-top-color: #fff;
}

.vietmapgl-popup-anchor-left .vietmapgl-popup-tip {
    align-self: center;
    border-left: none;
    border-right-color: #fff;
}

.vietmapgl-popup-anchor-right .vietmapgl-popup-tip {
    align-self: center;
    border-right: none;
    border-left-color: #fff;
}

.vietmapgl-popup-close-button {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    border-radius: 0 3px 0 0;
    cursor: pointer;
    background-color: transparent;
}

.vietmapgl-popup-close-button:hover {
    background-color: rgb(0 0 0 / 5%);
}

.vietmapgl-popup-content {
    position: relative;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    padding: 15px 10px;
    pointer-events: auto;
}

.vietmapgl-popup-anchor-top-left .vietmapgl-popup-content {
    border-top-left-radius: 0;
}

.vietmapgl-popup-anchor-top-right .vietmapgl-popup-content {
    border-top-right-radius: 0;
}

.vietmapgl-popup-anchor-bottom-left .vietmapgl-popup-content {
    border-bottom-left-radius: 0;
}

.vietmapgl-popup-anchor-bottom-right .vietmapgl-popup-content {
    border-bottom-right-radius: 0;
}

.vietmapgl-popup-track-pointer {
    display: none;
}

.vietmapgl-popup-track-pointer * {
    pointer-events: none;
    user-select: none;
}

.vietmapgl-map:hover .vietmapgl-popup-track-pointer {
    display: flex;
}

.vietmapgl-map:active .vietmapgl-popup-track-pointer {
    display: none;
}

.vietmapgl-marker {
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
    transition: opacity 0.2s;
}

.vietmapgl-user-location-dot {
    background-color: #1da1f2;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.vietmapgl-user-location-dot::before {
    background-color: #1da1f2;
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    animation: vietmapgl-user-location-dot-pulse 2s infinite;
}

.vietmapgl-user-location-dot::after {
    border-radius: 50%;
    border: 2px solid #fff;
    content: "";
    height: 19px;
    left: -2px;
    position: absolute;
    top: -2px;
    width: 19px;
    box-sizing: border-box;
    box-shadow: 0 0 3px rgb(0 0 0 / 35%);
}

@keyframes vietmapgl-user-location-dot-pulse {
    0%   { transform: scale(1); opacity: 1; }
    70%  { transform: scale(3); opacity: 0; }
    100% { transform: scale(1); opacity: 0; }
}

.vietmapgl-user-location-dot-stale {
    background-color: #aaa;
}

.vietmapgl-user-location-dot-stale::after {
    display: none;
}

.vietmapgl-user-location-accuracy-circle {
    background-color: #1da1f233;
    width: 1px;
    height: 1px;
    border-radius: 100%;
}

.vietmapgl-crosshair,
.vietmapgl-crosshair .vietmapgl-interactive,
.vietmapgl-crosshair .vietmapgl-interactive:active {
    cursor: crosshair;
}

.vietmapgl-boxzoom {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background: #fff;
    border: 2px dotted #202020;
    opacity: 0.5;
}

.vietmapgl-cooperative-gesture-screen {
    background: rgba(0 0 0 / 40%);
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 1rem;
    font-size: 1.4em;
    line-height: 1.2;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease 1s;
    z-index: 99999;
}

.vietmapgl-cooperative-gesture-screen.vietmapgl-show {
    opacity: 1;
    transition: opacity 0.05s;
}

.vietmapgl-cooperative-gesture-screen .vietmapgl-mobile-message {
    display: none;
}

@media (hover: none), (width <= 480px) {
    .vietmapgl-cooperative-gesture-screen .vietmapgl-desktop-message {
        display: none;
    }

    .vietmapgl-cooperative-gesture-screen .vietmapgl-mobile-message {
        display: block;
    }
}

.vietmapgl-pseudo-fullscreen {
    position: fixed !important;
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 99999;
}
